# Solución prueba técnica

## Punto 2
### Descripción:
Su tarea es proporcionar un diagrama de entidad-relación (ER) que muestre las entidades
relevantes en el conjunto de datos, sus atributos y las relaciones entre ellas. Además, debe
proporcionar un esquema de base de datos que muestre cómo se traduciría el modelo ER en
una estructura de tabla relacional.

### Solución:
Para esto encontramos en el directorio "modelo_datos" el pdf con el modelo ER en la estructura requerida, junto con el código utilizado para crearla en la herramienta online "https://dbdiagram.io" usando el DBML (Database Markup Language).


## Punto 3: Prueba de programación
En esta fase, deberás construir bases para un posterior análisis de datos. Se te entregarán tres bases de datos de las cuales deberás buscar una relación para consolidarlas en una sola, dichas bases brindarán información sobre las transacciones por barrio de cada uno de los clientes y el dispositivo usado para dichas transacciones. Para la construcción de estas bases deberás utilizar SQL y Python para resolver cada uno de los puntos.

In [1]:
#Importamos las funciones prediseñadas para solucionar los puntos2
import warnings
warnings.filterwarnings('ignore')
import os
import sys
path = os.path.abspath(os.path.join(os.path.dirname("___file___"), os.pardir, "src"))
sys.path.append(path)

from utils import consultar_bases, sabana_datos, q1, q2, q3, q4

#Consultamos las bases ubicadas en el directorio 'datos'
df_barrios, df_dispositivos, df_clientes = consultar_bases()

#Llamamos la función que limpia y cruza las bases para formar la sabana de datos a trabajar
df_sabana = sabana_datos(df_barrios, df_dispositivos, df_clientes)

consultando bases de datos
bases de datos consultadas
sabana de datos consolidada exitosamente

### Q1: Generar el listado de clientes con transacciones en 5 o mas barrios
Llamamos la función que resuelve la pregunta uno y nos arroja el dataFrame con el listado de clientes con transacciones en 5 o más barrios

In [2]:
df_q1 = q1(df_sabana)
df_q1

q1 resuelta de forma exitosa

                  num_doc  barrios_con_trx
0    -6943732889918790302               83
1    -6318594648243260200               77
2     3949050160426632961               75
3      956540030589798895               74
4     3785376175516210347               63
...                   ...              ...
3435  9059067213275789370                5
3436  9101217537846075570                5
3437  9128710817460077371                5
3438  9149183063513465686                5
3439  9192624861404519040                5

[3440 rows x 2 columns]

### Q2: ¿Cuáles son los 6 barrios donde la mayor cantidad de clientes únicos realizan transacciones en dispositivo tipo PAC?
Llamamos la función que resuelve la pregunta dos y nos arroja el dataFrame con el listado de los 6 barrios donde la mayor cantidad de clientes únicos realizan transacciones por dispositivo tipo PAC

In [3]:
df_q2 = q2(df_sabana)
df_q2

q2 resuelta de forma exitosa

      nombre_barrio  q_clientes_unicos_pac  q_clientes_unicos_barrio
0       San Nicolás                      5                       852
1  Colseguros Andes                      5                       358
2         San Pedro                      4                      2099
3  Prados del Norte                      1                       815
4      Las Delicias                      1                       371
5        El Troncal                      1                       466

### Q3: ¿Cuáles son los canales usados por cada cliente, es decir, los canales donde realiza al menos el 51% de sus operaciones?
Llamamos la función que resuelve la pregunta tres y nos arroja el diccionario donde tenemos en las llaves los clientes (unicos) y en los valores el listado de canales que representan más del 51% de sus transacciones

In [4]:
df_q3 = q3(df_sabana)
df_q3

Procesando: 100%|██████████| 10000/10000 [00:06<00:00, 1435.17its/s]
Procesando: 100%|██████████| 10000/10000 [00:09<00:00, 1001.58its/s]

q3 resuelta de forma exitosa

                  num_doc      canales
0    -9218698523982046880           CB
1    -9214605575224426554          SAI
2    -9211522780831135515          SAI
3    -9210956249921547631          POS
4    -9210147727599394517  DISPENSADOR
...                   ...          ...
9995  9219183828174672272          POS
9996  9220077217609243452  DISPENSADOR
9997  9222313660278362882          SAI
9998  9222542349226241781           CB
9999  9223358026146793149          SAI

[10000 rows x 2 columns]

### Q4: ¿Cuáles son las 10 distancias únicas de los dispositivos mas alejados entre si pertenecientes al barrio panamericano?
Llamamos la función que resuelve la pregunta dos y nos arroja tres dataFrames, el primero con la matriz de distancias calculadas con la api de Waze, el segundo con matriz de distancias calculadas con geoPy y por ultimo el listado de los 10 dispositivos únicos con mayor distancia entre si

In [5]:
dist_df_waze, dist_df_linear, df_q4 = q4(df_sabana)

construyendo matrices de distancia

Procesando: 15its [04:11, 16.76s/its]

Matrices de distancia construidas con exito

Procesando: 100%|██████████| 15/15 [00:00<00:00, 152.17its/s]

q4 resuelta de forma exitosa

In [6]:
dist_df_waze

,14994693,15598709,13977004,11075827,14907158,11646205,14805709,12200812,12690186,15186059,14614143,1979425573,15616816,13158795,13027248
14994693,0.000,0.829,0.768,0.014,0.688,0.722,1.220,1.380,0.460,0.743,0.718,1.358,0.098,1.162,0.718
15598709,0.112,0.000,0.044,0.126,1.505,1.282,1.066,1.226,1.277,0.049,1.278,1.204,0.211,1.008,1.278
13977004,0.207,0.005,0.000,0.221,0.008,0.017,1.013,1.173,0.264,0.000,0.013,1.151,0.306,0.955,0.013
11075827,0.014,0.828,0.767,0.000,0.687,0.721,1.220,1.380,0.459,0.742,0.717,1.358,0.008,1.162,0.717
14907158,0.251,0.107,0.038,0.265,0.000,0.009,0.961,0.013,0.255,0.021,0.009,0.046,0.350,0.903,0.009
11646205,0.250,0.106,0.037,0.264,0.001,0.000,0.961,0.013,1.415,0.020,0.004,1.099,0.349,0.903,0.004
14805709,0.466,0.322,0.261,0.480,1.859,0.215,0.000,0.159,1.631,0.236,0.211,0.137,0.565,0.040,0.211
12200812,0.282,0.138,0.077,0.296,0.024,0.000,0.923,0.000,1.447,0.052,0.024,0.022,0.381,0.865,0.024
12690186,0.486,0.342,0.281,0.503,0.201,0.235,0.439,0.469,0.000,0.256,0.231,0.447,0.588,0.480,0.231
15186059,0.213,0.000,0.038,0.227,0.033,0.034,0.998,1.158,0.264,0.000,0.030,1.136,0.312,0.940,0.030
14614143,0.254,0.110,0.041,0.268,0.002,0.004,0.961,0.013,1.419,0.024,0.000,0.046,0.353,0.903,0.000
1979425573,0.328,0.184,0.123,0.342,0.046,0.077,0.894,0.022,1.493,0.098,0.046,0.000,0.427,0.836,0.046
15616816,0.418,1.445,1.384,0.046,1.304,1.338,1.307,1.467,1.076,1.359,1.334,1.445,0.000,1.249,1.334
13158795,0.524,0.380,0.319,0.538,2.500,0.273,0.009,0.217,1.689,0.294,0.269,0.195,0.623,0.000,0.269
13027248,0.254,0.110,0.041,0.268,0.002,0.004,0.961,0.013,1.419,0.024,0.000,0.046,0.353,0.903,0.000

In [7]:
dist_df_linear

,14994693,15598709,13977004,11075827,14907158,11646205,14805709,12200812,12690186,15186059,14614143,1979425573,15616816,13158795,13027248
14994693,0.000000,0.143210,0.207073,0.014283,0.251381,0.249494,0.467195,0.306100,0.331175,0.229454,0.253789,0.328273,0.080188,0.524890,0.253789
15598709,0.143210,0.000000,0.063873,0.157483,0.108299,0.106301,0.323991,0.162908,0.238986,0.086258,0.110596,0.185081,0.223375,0.381685,0.110596
13977004,0.207073,0.063873,0.000000,0.221349,0.044984,0.042429,0.260122,0.099036,0.217850,0.022385,0.046724,0.121208,0.287245,0.317816,0.046724
11075827,0.014283,0.157483,0.221349,0.000000,0.265635,0.263772,0.481471,0.320377,0.341952,0.243731,0.268066,0.342550,0.065906,0.539165,0.268066
14907158,0.251381,0.108299,0.044984,0.265635,0.000000,0.009597,0.216154,0.055801,0.204247,0.023577,0.009862,0.077729,0.331468,0.273799,0.009862
11646205,0.249494,0.106301,0.042429,0.263772,0.009597,0.000000,0.217701,0.056608,0.213711,0.020043,0.004295,0.078780,0.329670,0.275397,0.004295
14805709,0.467195,0.323991,0.260122,0.481471,0.216154,0.217701,0.000000,0.161102,0.301833,0.237740,0.213407,0.138932,0.547366,0.057696,0.213407
12200812,0.306100,0.162908,0.099036,0.320377,0.055801,0.056608,0.161102,0.000000,0.220729,0.076651,0.052313,0.022173,0.386277,0.218798,0.052313
12690186,0.331175,0.238986,0.217850,0.341952,0.204247,0.213711,0.301833,0.220729,0.000000,0.214635,0.213757,0.227180,0.394952,0.344870,0.213757
15186059,0.229454,0.086258,0.022385,0.243731,0.023577,0.020043,0.237740,0.076651,0.214635,0.000000,0.024338,0.098823,0.309628,0.295436,0.024338
14614143,0.253789,0.110596,0.046724,0.268066,0.009862,0.004295,0.213407,0.052313,0.213757,0.024338,0.000000,0.074486,0.333965,0.271103,0.000000
1979425573,0.328273,0.185081,0.121208,0.342550,0.077729,0.078780,0.138932,0.022173,0.227180,0.098823,0.074486,0.000000,0.408450,0.196627,0.074486
15616816,0.080188,0.223375,0.287245,0.065906,0.331468,0.329670,0.547366,0.386277,0.394952,0.309628,0.333965,0.408450,0.000000,0.605059,0.333965
13158795,0.524890,0.381685,0.317816,0.539165,0.273799,0.275397,0.057696,0.218798,0.344870,0.295436,0.271103,0.196627,0.605059,0.000000,0.271103
13027248,0.253789,0.110596,0.046724,0.268066,0.009862,0.004295,0.213407,0.052313,0.213757,0.024338,0.000000,0.074486,0.333965,0.271103,0.000000

In [8]:
df_q4

,canal,cod_dispositivo,latitud,longitud,loc,codigo_consultado,loc_consultado,distancia,dup_validation
0,POS,13158795,3.416580,-76.532074,"3.416580484, -76.53207354",15616816,"3.41138520464, -76.5337825036",0.605059,False
1,POS,14805709,3.416084,-76.532232,"3.41608366616, -76.5322321723",15616816,"3.41138520464, -76.5337825036",0.547366,False
2,POS,13158795,3.416580,-76.532074,"3.416580484, -76.53207354",11075827,"3.41194761862, -76.5335861823",0.539165,False
3,POS,13158795,3.416580,-76.532074,"3.416580484, -76.53207354",14994693,"3.41206905851, -76.5335424073",0.524890,False
4,POS,14805709,3.416084,-76.532232,"3.41608366616, -76.5322321723",11075827,"3.41194761862, -76.5335861823",0.481471,False
5,POS,14994693,3.412069,-76.533542,"3.41206905851, -76.5335424073",14805709,"3.41608366616, -76.5322321723",0.467195,False
6,POS,15616816,3.411385,-76.533783,"3.41138520464, -76.5337825036",1979425573,"3.414886, -76.53261",0.408450,False
7,POS,15616816,3.411385,-76.533783,"3.41138520464, -76.5337825036",12690186,"3.41484784983, -76.5346540488",0.394952,False
8,POS,12200812,3.414696,-76.532673,"3.414695895, -76.53267347",15616816,"3.41138520464, -76.5337825036",0.386277,False
9,POS,15598709,3.413303,-76.533150,"3.41330275619, -76.5331502918",13158795,"3.416580484, -76.53207354",0.381685,False

In [9]:
#Exportamos todo a excel y json para alimentar el tablero
df_sabana.to_excel('sabana.xlsx', index=False)
df_q1.to_excel('q1.xlsx', index=False)
df_q2.to_excel('q2.xlsx', index=False)
df_q3.to_excel('q3.xlsx', index=False)
dist_df_waze.to_excel('matriz_dist_waze.xlsx', index=False)
dist_df_linear.to_excel('matriz_dist_lineal.xlsx', index=False)
df_q4.to_excel('q4.xlsx', index=False)